section {
  background-color: #fffacd;
  /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: bold;
}

#fact-2 {
  font-size: 24px;
}

#fact-3 {
  line-height: 50px;
}
